@model IEnumerable<MovieLibrary.Models.Movie>

<style>
    .table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed; 
    }
    .table th, .table td{
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        vertical-align: middle;
    }
    .table th:last-child, .table td:last-child {
        border: none; 
        width: 100px; 
        position: relative;
    }
    .poster {
        width: 200px;
        height: auto;
    }
</style>

<h2>Seznam filmů</h2>

<a asp-action="Create" class="btn btn-success mb-3">Přidat nový film</a>
<a asp-controller="Persons" asp-action="PersonList" class="btn btn-success mb-3">Osobnosti</a>

<table class="table">
    <thead>
        <tr>
            <th>Název</th>
            <th>Popis</th>
            <th>Rok</th>
            <th>Režisér</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="5">Žádné filmy nebyly nalezeny.</td>
            </tr>
        }
        else
        {
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@movie.Title</td>
                    <td>@movie.Description</td>
                    <td>@movie.Year</td>
                    <td><img src="@movie.PosterUrl" class="poster"/></td>
                    <td>
                        <div>
                            <a asp-action="Edit" asp-route-id="@movie.Id" class="btn btn-primary action-button edit">Upravit</a>
                            <form asp-action="Delete" asp-route-id="@movie.Id" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-danger action-button delete"
                                        onclick="return confirm('Opravdu chceš smazat tento film?');">
                                    Smazat
                                </button>
                            </form>
                        </div>
                            
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
